<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>To Do List</title>
</head>
<body>
    <div class='container'>
        <h1>All cleared!</h1>
        <p><a href='/'>Home</a></p>

        <img src="/empty.gif"/>
    </div>
</body>
</html>
