<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>To Do List</title>
</head>
<body>
    <div class='container'>
        <h1>Welcome to To Do List!</h1>

        <h4>Create a new category:</h4>

        <form action="/categories" method="post">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text">

            <button class='btn-success' type="submit">Add category</button>
        </form>

        {% if categories is not empty %}
            <h4>Here are all your categories:</h4>
            <ul>
                {% for category in categories %}
                    <li><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
          <h4>There are no categories yet!</h4>
        {% endif %}

        <form action='/delete_categories' method='post'>
            <button class='btn-danger' type='submit'>Clear Categories</button>
        </form>
    </div>
</body>
</html>
